-i https://pypi.org/simple
blessings==1.7
bpython==0.18
certifi==2019.3.9
chardet==3.0.4
curtsies==0.3.0
future==0.17.1
greenlet==0.4.15
idna==2.8
jedi==0.13.3
msgpack==0.6.1
neovim==0.3.1
parso==0.4.0
pluggy==0.9.0
pycodestyle==2.5.0
pygments==2.3.1
pynvim==0.3.2
python-jsonrpc-server==0.1.2
python-language-server==0.26.1
requests==2.21.0
six==1.12.0
typing==3.6.6
urllib3==1.24.3
wcwidth==0.1.7
